body{
  width: 1140px;
}
*{margin:0; padding:0;} 

.container{
  background:#7387a4;  
  overflow: hidden;
}
.logo{
  text-transform: uppercase;
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  width: 300px;
  margin: 20px;
  overflow:hidden;
  background: #7387a4;
  float: left;
 }
.A{
  color: white;
} 
.B{
 color:  #ff5200;
}
.menu{
  float: left;
  overflow: hidden;
  margin-top:18px ;
  margin-left: 80px;
}
.menuItem{
 float: left; 
 list-style: none;
}
.menuItem li {
 float: left;
 padding: 10px;
}
.menuItem li a{
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size:20px;
  color:#dce0e5;
  font-weight: 550;
  transition: 0.5s;
 }
.menuItem li a:hover{
  color:#ff5200;
} 
.button{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size:20px;
  background:linear-gradient(#ff5200,#ff6e29);
  border: none;
  color:#dce0e5;
  font-weight: 550;
  transition: 0.5s;
  padding: 10px;
  margin-left: 40px;
  margin-top: 15px;
  border-radius: 2px;
  transition: 0.5s;
}
.button:hover{
  background:linear-gradient(#ff6e29,#ff5200);
}





.section1{
  background:   linear-gradient(#294ebd79,#365aac79),url(081219110833.jpg);
  
  background-repeat: no-repeat;
  background-position: center;
  padding:200px;
 }
.container2{
  width: 800px;
  text-align: center;
  margin-left: -20px;
}
.slidercontent p{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color:white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-bottom: 15px;
}
.slidercontent h1{
  text-transform: uppercase;
  font-size:80px;
  color: white;
  font-weight: 1000;
  font-family: 'Oswald', sans-serif;
  display: inline;
  float: left;
}
.slidercontent h2{
  text-transform: uppercase;
  font-size:80px;
  color:#ff5200;
  font-weight: 1000;
  font-family: 'Oswald', sans-serif;
  display: inline;
  float: left;
  padding-left: 10px;
}
.slidercontent button{
  text-transform: uppercase;
  color: white;
  background:linear-gradient(#ff5200,#ff6e29);
  padding:7px;
  padding-left: 13px;
  padding-right: 13px;
  border: none;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  border-radius: 2px;
  transition: 0.5s;
}
.slidercontent button:hover{
  background:linear-gradient(#ff6e29,#ff5200);
}





.section2{
 border: 1px solid black; 
 padding-bottom: 100px;
}
.container3{
  width: 1060px;
  overflow: hidden;
  margin: auto;
}
.sectionTitle{
  text-align: center;
  width: 800px;
  margin-left: 140px;
  padding-top: 70px;
}
.sectionTitle h2{
  color:#444;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
}
.sectionTitle h1{
  color:#ff5200;
  padding-left: 15px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
 }
.sectionTitle p{
  color:#606161;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
 }

.services{
  padding-top:50px;
}



.service1{
  width: 400px;
  float: left;
  margin-right: 200px;
  padding-bottom: 20px;
}
.service1 h2{
  color:#303131;
  font-size: 25px;
  font-family:Arial;
}
.service1 p{
   padding-top: 10px;
   padding-bottom: 7px;
   color:#777979;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   line-height: 25px;
}
.service1 a{
  color:#ff5200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.service1 a:hover{
  color: #4f68b0;
}


.service2{
  width: 400px;
  float: left;
  margin-right: 50px;
  padding-bottom: 20px;
}
.service2 h2{
  color:#303131;
  font-size: 25px;
  font-family:Arial;
}
.service2 p{
   padding-top: 10px;
   padding-bottom: 7px;
   color:#777979;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   line-height: 25px;
}
.service2 a{
  color:#ff5200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.service2 a:hover{
  color: #4f68b0;
}

.service3{
  width: 400px;
  float: left;
  margin-right: 200px;
  padding-bottom: 20px;
 }
.service3 h2{
  color:#303131;
  font-size: 25px;
  font-family:Arial;
}
.service3 p{
   padding-top: 7px;
   padding-bottom: 7px;
   color:#777979;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   line-height: 25px;
}
.service3 a{
  color:#ff5200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.service3 a:hover{
  color: #4f68b0;
}


.service4{
  width: 400px;
  float: left;
  padding-bottom: 20px;
}
.service4 h2{
  color:#303131;
  font-size: 25px;
  font-family:Arial;
}
.service4 p{
   padding-top: 7px;
   padding-bottom: 10px;
   color:#777979;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   line-height: 25px;
}
.service4 a{
  color:#ff5200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.service4 a:hover{
  color: #4f68b0;
}


.service5{
  width: 400px;
  float: left;
  margin-right: 200px;
}
.service5 h2{
  color:#303131;
  font-size: 25px;
  font-family:Arial;
}
.service5 p{
   padding-top: 7px;
   padding-bottom: 10px;
   color:#777979;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   line-height: 25px;
}
.service5 a{
  color:#ff5200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.service5 a:hover{
  color: #4f68b0;
}


.service6{
  width: 400px;
  float: left;
}
.service6 h2{
  color:#303131;
  font-size: 25px;
  font-family:Arial;
}
.service6 p{
   padding-top: 10px;
   padding-bottom: 7px;
   color:#777979;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   line-height: 25px;
}
.service6 a{
  color:#ff5200;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.service6 a:hover{
  color: #4f68b0;
}




.section3{
  background:linear-gradient(  #294ebd79,#365aac79),url(construction-safety.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  }
.container4{
  margin-bottom: 0px;
  text-align: center;
}
.content4{
  width: 700px;
  margin: auto;
  padding: 100px;
}
.content4 h1{
  padding-left: 50px;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  display: inline;
  float: left;
  padding-right: 10px;
}
.content4 h2{
  color: #ff5200;
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  display: inline;
  float: left;
  padding-right: 10px;
}
.content4 h3{
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  display: inline;
  float: left;
  padding-right: 10px;
}
.content4 h4{
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  display:inline;
  float: left;
  padding-right: 10px;
}
.content4 h5{
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  display:inline;
  float: left;
  padding-right: 10px;
}
.content4 p{
  color: white;
  font-size: 15px;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  display: inline;
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
}
.content4 button{
  text-transform: uppercase;
  color: white;
  background:linear-gradient(#ff5200,#ff6e29);
  padding:7px;
  padding-left: 13px;
  padding-right: 13px;
  border: none;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  border-radius: 2px;
  transition: 0.5s;
}
.content4 button:hover{
  background:linear-gradient(#ff6e29,#ff5200);
}




.sectionTitle2{
  text-align: center;
  width: 800px;
  margin-left: 140px;
  padding-top: 70px;
}
.sectionTitle2 h2{
  color:#444;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
}
.sectionTitle2 h1{
  color:#ff5200;
  padding-left: 15px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
 }
.sectionTitle2 p{
  color:#606161;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
 }
 
 
 
.container5{
  margin-bottom: 600px;
} 
.classSliBarImage{
  margin-top: 50px;
} 
.ClassSideBar{
  width: 350px;
  float: left;
  
  }
.ClassSideBar button {
  display: block;
  margin: 30px;
  margin-top: 0px;
  border: none;
  margin-left: 40px;
}
.ClassSideBar h2{
  width:250px;
  display: block;
  background:white;
  color: black;
  padding: 25px;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  box-shadow: 0.5px 0.5px 10px 5px #e4e4e4;
 }
 .ClassSideBar h2:hover{
  background:#ff5200;
  color: white;
} 
.ClassSideBar h2 i {
  color:#ff5200;
  float: left;
  font-size: 30px;
  }
.ClassSideBar h2 i:hover{
  color:white;
}

.ClassSideBar a{
  margin-left: 40px;
  width:250px;
  text-decoration: none;
  display: block;
  background:#ff5200;
  color: white;
  padding: 25px;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  box-shadow:0.5px 0.5px 10px 5px #e4e4e4;
  }
.ClassSideBar a:hover{
  background: white;
  color: #ff5200;
}  
.ClassSideBar a p {
 font-weight: 700;
 text-align: center;
 font-size: 20px;
}

.claasImage{
  width: 650px;
  height: 270px;
  margin-left: 10px;
  margin-right: 100px;
  margin-top: 0px;
  float: right;
  background:
  url(2018-05-11_proper-form-importance-3.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0 ;
  
}
.classDescribe {
  width: 784px;
  height: 220px;
  float: right;
}
.classDescribe h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-left: 31px;
  margin-top: 20px;
  }
.classDescribe p {
  font-family: 'Oswald', sans-serif;
  margin-left: 31px;
  margin-top: 20px;
  }
.classDescribe button {
  background: #ff5200;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 2px;
  margin-left: 31px;
  margin-top: 20px;
  
}  
.classDescribe button h4{
 color: white;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 font-weight: 500;
}




.container6{
  height: 900px;
  background:linear-gradient(  #294ebd79,#365aac79),url( pexels-photo-841130-1.jpeg);
   background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}




.sectionTitle4{
  text-align: center;
  width: 800px;
  margin-left: 140px;
  padding-top: 120px;
}
.sectionTitle4 h2{
  color:white;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
}
.sectionTitle4 h1{
  color:#ff5200;
  padding-left: 15px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
 }
.sectionTitle4 p{
  color:white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
   padding-top: 40px;
  }
  
.sectionTitle4 h5{
  width: 700px;
  margin-left: 100px;
  padding-top: 60px;;
  padding-bottom: 20px;
  display: inline;
  color:white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  float: left;
  list-style: none;
  text-transform: uppercase
  font-weight: 550;
} 
 
.salaryshit{
  width: 900px;
  margin: auto;
 border-collapse: collapse;
 border-color: white;
 }
.salaryshit tbody tr td {
      padding: 35px;
      color: white;
      font-family: 'Oswald', sans-serif;
     }       
.salaryshit thead tr th {
      padding: 35px; }
.salaryshit thead  { 

  text-transform: uppercase;
  font-family: Arial;
  color:white;
}
 
 
 
.sectionTitle5{
  text-align: center;
  width: 800px;
  margin-left: 140px;
  padding-top: 120px;
}
.sectionTitle5 h2{
  color:black;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
}
.sectionTitle5 h1{
  color:#ff5200;
  padding-left: 0px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-weight: 900;
 }
.sectionTitle5 p{
   color:black;
   font-size: 20px;
   
   font-family: Arial;
   padding-top: 40px;
  }
  
  
  
.section7{
 
}  
.container7{
 
}
  
.postWrapper{
  overflow: hidden;
  float: left; 
  margin-left: 25px;
  padding-left: 10px;
  }
.postImg{
 padding: 15px;
 padding-bottom: 5px;
}  
.postInformation{
 padding: 15px;
 padding-top:5px;
}
.singlePost2{
  width: 280px;
  overflow: hidden;
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  padding: 30px;
  height: 380px;
  box-shadow:1px 1px 10px 5px #e4e4e4;
  margin-bottom: 100px;
  }
  
.singlePost2 img {
  width: 100%;
}
.postImg img{
   margin-bottom: 10px;
   }
.postInformation h3{
  padding-top: 15px;
}   
.postInformation p{
  margin-top: 20px;
  color: #666;
  margin-bottom: 19px;
  letter-spacing: 1px;
 }  
.postInformation span{
  color: red;
  font-family: 'Oswald', sans-serif;
} 

.social {
  margin-left: -8px;
}
.social a {
  padding-left: 20px;
  font-size: 20px;
  color:#636363;
  float: left;
  
}
.credit{ 
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  font-size: 10px;
}
.credit span{
  color: red;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}
  
  
   











